[submodule "Plugins/XRayEngine/Source/ThirdParty"]
	path = Source/XRayEngine
	url = https://github.com/RedPandaProjects/XRayEngine
[submodule "Plugins/VisualStudioTools"]
	path = Plugins/VisualStudioTools
	url = https://github.com/microsoft/vc-ue-extensions.git
[submodule "Source/Utils/XRayReTools"]
	path = Source/Utils/XRayReTools
	url = https://github.com/BearIvan/xray_re-tools
