.vs
Content/Movies
Content/COP
Content/SHOC
Content/CS
Content/MSPresets
Content/BaseNoGit
Content/UltraDynamicSky
DerivedDataCache/**
Intermediate
Binaries
*.sln
Saved
logs/
gamedata/levels/
gamedata/meshes/
gamedata/shaders/
gamedata/sounds/
gamedata/textures/
gamedata/spawns/
gamedata_soc/levels/
gamedata_soc/meshes/
gamedata_soc/shaders/
gamedata_soc/sounds/
gamedata_soc/textures/
gamedata_soc/spawns/
gamedata_cs/levels/
gamedata_cs/meshes/
gamedata_cs/shaders/
gamedata_cs/sounds/
gamedata_cs/textures/
gamedata_cs/spawns/
rawdata/
rawdata_soc/
rawdata_cs/
_appdata_/
_appdata_soc_/
_appdata_cs_/
Build/
Plugins/Marketplace/
savedgames/